.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    gap: 80px;
    padding: 30px;
    /* background-color: rgba(39, 16, 63, 0.402); */

    background-color: rgba(44, 94, 94, 0.507);

    .item{
        
        max-width: 50%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 20px;
        
        
        padding: 20px;
        border-radius: 10px;

        form{
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            gap: 20px;

            label{
                width: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
                text-decoration: underline;
                gap: 10px;

                img{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            input{
                width: 100%;
                padding: 20px;
                border: none;
                outline: none;
                background-color: rgba(28, 27, 27, 0.612);
                border-radius: 10px;
                color: whitesmoke;

                &:hover{
                    background-color: rgba(40, 39, 39, 0.612);
                }
            }

            button{
                width: 80%;
                padding: 10px;
                border-radius: 5px;
                color: aliceblue;
                cursor: pointer;
                border: none;
                /* background-color: rgba(130, 129, 129, 0.799); */
                background-color: rgb(19, 86, 188);

                &:disabled{
                    cursor: not-allowed;
                    background-color: rgba(79, 85, 95, 0.635);
                }

                &:hover{
                    background-color: rgba(122, 118, 118, 0.799);
                }
                
            }

            
        }
    }

    .seperator{
        height: 80%;
        background-color: rgba(203, 197, 197, 0.626);
        width: 1px;
    }
}